{% extends "store/base.html" %}



{% block content %}
<section id="reset-password-done" class="my-5">
    <div class="container">
        <div class="row justify-content-center align-items-center py-5">
            <div class="col-11 col-md-4 shadow p-5 rounded">
                <h4 class="py-5 text-center">Reset Password</h4>
                <form action="" class="py-5"  method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="newPassword">New password</label>
                        <input type="password" class="form-control" id="newPassword" name="new_password" placeholder="New password" required>
                    </div>
                    <div class="form-group">
                        <label for="confirmPassword">Confirm password</label>
                        <input type="password" class="form-control" id="confirmPassword" name="confirm_password" placeholder="Confirm password" required>
                    </div>
                    <button style="background-color:#ED2224; color:white;" class="btn btn-block rounded-pill my-2">Reset Password</button>
                </form>
                <p class="text-muted py-2">
                    Already have an account?<a href="{% url 'signin' %}" class="mx-1">Login</a>now.
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock content %}

