{% extends 'store/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<style>

    .dashboard-menu li a {
        color: rgb(77, 77, 77);
    }
</style>
<div class="container-fluid my-5">
    <div class="row justify-content-between">
        {% include 'userapp/sidebar.html' %}
        <div class="col-md-8 col-lg-9 px-5">
            <div class="row justify-content-center">
                <div class="col-6 shadow py-5 rounded">
                    <h5 class="mb-5 text-center">Change Password</h5>
                    <form action="{% url 'password_change' %}" class="p-4" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="oldPassword">Current Password<sup class="ml-1 required">*</sup></label>
                            <input type="password" class="form-control" name="old_password" id="oldPassword" placeholder="Current password" required>
                        </div>
                        <div class="form-group">
                            <label for="newPassword1">New Password<sup class="ml-1 required">*</sup></label>
                            <input type="password" class="form-control" name="new_password1" id="newPassword1" placeholder="New password" required>
                        </div>
                        <div class="form-group">
                            <label for="newPassword2">Confirm Password<sup class="ml-1 required">*</sup></label>
                            <input type="password" class="form-control" name="new_password2" id="newPassword2" placeholder="Confirm password" required>
                        </div>
                        <div class="form-group mx-auto">
                            <button type="submit" style="background-color: #eb5525;color: white;" class="btn btn-block rounded-pill">Submitt</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}