{% extends 'store/base.html' %}
{% load static %}
{% block content %}

<style>
	.table .remove-col .btn-remove {
		margin-right: 40px;
	}
</style>

<div class="container-fluid my-5">
	<div class="row justify-content-between my-5">
		{% include 'userapp/sidebar.html' %}
		<div class="col-md-8 col-lg-9 px-5">
			{% if out_of_stock %}
				<h5 class="text-danger text-center">Please remove out of stock products from this card</h5>
			{% else %}
			{% endif %}
			<h5>Cart Summary</h5>
			{% if order.items.all %}
			<div class="row">
				<div class="col-12">
					<table class="table table-cart table-mobile">
						<thead>
							<tr>
								<th class="pr-4 pr-lg-5">Product</th>
								<th class="pr-4 pr-lg-5">Color</th>
								<th class="pr-4 pr-lg-5">Size</th>
								<th class="pr-4 pr-lg-5">Price</th>
								<th class="pr-4 pr-lg-5">Quantity</th>
								<th class="pr-4 pr-lg-5">Total</th>
								<th class="pr-4 pr-lg-5">Actions</th>
								{% if not coupons %}
									<th style="display: none;">Apply Coupon</th>
								{% endif %}
							</tr>
						</thead>
						<tbody>
							{% for p in order.items.all %}
							<tr>
								<td class="product-col">
									<div class="product">
										<figure class="product-media">
											<a href="{% url 'product_detail' p.item.slug %}">
												<img src="{{ p.item.image.url }}" alt="Product image">
											</a>
										</figure>

										<h3 class="product-title col-sm-12 col-md-6 col-lg-6">
											<a href="{% url 'product_detail' p.item.slug %}" style="font-size: 12px;">
												{{ p.item.product_name}}</a>
										</h3>
									</div>
								</td>
								<td>
									<div>
										{% if p.variation.all %}
											<span class="color-col text-dark text-center">
												{% for v in p.variation.all %}
													{{ v.color|join:", " }}
												{% endfor %}
											</span>
										{% endif %}
									</div>
								</td>
								<td>
									<div>
										{% if p.variation.all %}
											<span class="color-col text-dark text-center">
												{% for v in p.variation.all %}
													{{ v.size|join:", " }}
												{% endfor %}
											</span>
										{% endif %}
									</div>
								</td>													
								<td style="color:rgb(0 0 0);">
									{% if p.product_new_price %}
										৳{{p.product_new_price|floatformat:0}}<span style="font-size: 11px;"><del class="text-danger px-2">৳{{ p.flashsale.flashsale_price|default:p.item.discount_price|default:p.item.price }}</del>
										</span>		
									{% else %}
										৳{{ p.flashsale.flashsale_price|default:p.item.discount_price|default:p.item.price }}
										{% if p.flashsale.flashsale_price or p.item.discount_price %}
												<span style="font-size: 11px;">
													<del class="text-danger px-2">৳{{ p.item.price }}</del>
												</span>
										{% endif %}
									{% endif %}
									{% if p.coupon %}
									<br>
									<div class="d-flex  p-1">
										<span style="font-size: 10px;">{{ p.coupon.code }} <span style="color: blue;">({{ p.coupon.coupon_types }})</span></span>
										<span><a href="javascript:void(0)" style="color: blue; padding-left: 5px;">X</a></span>
									</div>
									{% endif %}
									
								</td>
								<td class="quantity-col text-center">
									<div class="cart-product-quantity">
										<a style="font-size: 15px;"
											href="{% url 'product_quantity_increment' p.item.slug %}"><i
												class="fa-solid fa-plus"></i></a>
										<p style='color:black;'>{{ p.quantity }}</p>
										<a href="{% url 'product_quantity_decrement' p.item.slug %}"><i
											class="fa-solid fa-minus"></i></a>		
									</div>
								</td>
								<td style="color:rgb(0 0 0);">৳{{ p.get_subtotal }}
									<span style="font-size: 10px;">
										{% if p.product_new_price %}
										saving(৳{{ p.saving_price }} )<br>{{ p.saving_percent|floatformat:"2" }}%
										{% elif p.item.discount_price %}
										saving(৳{{ p.saving_price }} )<br>{{ p.saving_percent|floatformat:"2" }}%
										{% endif %}</span>
								</td>
								<td class="remove-col">
									<a href="{% url 'remove_form_cart' p.item.slug %}" class="btn-remove"><i class="fa-regular fa-circle-xmark" style="color: #000; font-size: 18px;"></i></a>
								</td>
								{% if not coupons %}
								<td class="">
									{% if p.item.id in coupon_with_product %} 
										<form method="post" action="">
											{% csrf_token %}
											<div class="form-group d-flex justify-content-start">
												<input type="hidden" name="order_item_id" value="{{p.id}}">
												<input type="text" id="code" class="form-control" name="code" placeholder="Enter coupon code">
												<button type="submit" class="btn btn-primary">Apply</button>
											</div>
										</form>
									{% endif %}
								</td>	
								{% endif %}
							</tr>
							{% endfor %}
						</tbody>
					</table>
					
					{% if coupons %}
					<div class="cart-bottom">
						<div class="cart-discount">
							<form action="{% url 'add_coupon' %}" method="POST">
								{% csrf_token %}

								<div class="input-group">
									{{ form.code }}
									<div class="input-group-append">
										<button style="background-color:#ED2224 ;color: white;" class="btn"
											type="submit"><i class="icon-long-arrow-right"></i></button>
									</div>
								</div>
							</form>
						</div>
					</div>
					{% endif %}
				</div>
				
				<aside class="col-12">
					<div class="summary summary-cart">
						<table class="table table-summary">
							<tbody>
								<tr class="summary-subtotal">
									<td>Total Item Price:</td>
									{% if order.coupon %}
									<td>
										{{order.coupon_without_shipingcharge|floatformat:0}} <span style="font-size: 11px;"><del class="text-danger px-2">৳{{ order.get_total }}</del></span>
									</td>
									{% else %}
									<td>৳{{ order.get_total }} </td>
									{% endif %}
								</tr>

								{% if order.coupon %}
								<tr class="summary-shipping-row">
									<td class="d-flex mt-1 mb-3">
										<label class="custom-control-label" for="express-shipping">Coupon :
											{{order.coupon.code}}</label> <a href="javascript:void(0)"><sup style="font-size: 12px; border: 2px solid red;background-color:#ED2224; color: white; border-radius: 53px; " >Remove</sup></a>
									</td>
									{% comment %} <td>- ৳{{ order.coupon.amount }} </td> {% endcomment %}
									<td>
										{% if order.coupon.coupon_type == 'Percentage' %}
											- ৳{{ order.coupon.amount_or_percentage }}%
										{% elif order.coupon.coupon_type == 'Amount' %}
											- ৳{{ order.coupon.amount_or_percentage|floatformat:0 }}Tk
										{% endif %}
										
									</td>
								</tr>
								{% endif %}
							</tbody>
						</table>

						
						{% if out_of_stock %}
							<p class="text-danger text-center">Please remove out of stock products from this card</p>
						{% else %}
							<a style="background-color:#ED2224; color: white;" href="{% url 'address' %}" class="btn btn-outline-primary-2 btn-order btn-block">PROCEED TO CHECKOUT</a>
						{% endif %}
					</div>

					<a style="background-color:white ;color: #ED2224;" href="{% url 'shop' %}" class="shadow btn btn-outline-dark-2 btn-block mb-3">
						<span>CONTINUE SHOPPING</span>
						<i class="icon-refresh"></i>
					</a>
				</aside>
			</div>
			{% else %}
			<h6 class="text-center text-danger">You have no active order</h6>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}