{% extends 'dashboard/base.html' %}
{% load static %}



{% block dashboard %}
<div class="content-wrapper">
	<div class="container">
		<div class="bg-white shadow p-4 rounded mt-20">
			<form action="" method="post" class="row gx-3 gy-3 align-items-center"
					enctype="multipart/form-data">
					{% csrf_token %}
					<div class="col-12 col-md-6">
						<label for="id_category_name" class="form-label">Category Name<span class="ms-2 text-danger font-weight-bolder">*</span></label>
						<input type="text" name="category_name" class="form-control" id="id_category_name"
							placeholder="Category Name" required>
					</div>
					<div class="col-12 col-md-6">
						<label for="id_img" class="form-label">Image</label>
						<input type="file" name="img" class="form-control" id="id_img">
					</div>
					<div class="col-12 col-md-6">
						<label for="id_parent" class="form-label">Parent</label>
						<select name="parent" class="form-select" id="id_parent">
							<option value="" disabled selected>Select Parent Category</option>
							{% for parent in parent_categories %}
							  <option value="{{ parent.id }}">{{ parent.category_name }}</option>
							{% endfor %}
						</select>						  
					</div>
					
					<div class="col-12 col-md-6 {% if request.user.is_vendor %}d-none{% endif %}">
						<label for="id_commission" class="form-label">Commission<span class="ms-2 text-danger font-weight-bolder">*</span></label>
						<input type="text" name="commission" class="form-control" id="id_commission"
							placeholder="Commission" value="{% if request.user.is_vendor %}0{% endif %}">
					</div>
					<div class="col-12 {% if request.user.is_vendor %}d-none{% endif %}">
						<div class="form-check">
							<input type="checkbox" name="is_verified" class="form-check-input" id="id_is_verified">
							<label class="form-check-label" for="id_is_verified">Is Verified</label>
						</div>
					</div>
					
					<div class="col-12 text-end">
						<button type="reset" class="btn btn-danger px-4">Reset</button>
						<button type="submit" class="btn btn-primary px-4 ms-5">Submit</button>
					</div>
				</form>
		</div>
	</div>
</div>
{% endblock dashboard %}
