{% extends 'dashboard/base.html' %}
{% load static %}


{% block dashboard %}

<style>
	.pagination-container {
    text-align: center;
    margin-top: 20px;
	}

	.pagination {
			display: inline-block;
			padding: 0;
			margin: 0;
	}

	.pagination li {
			display: inline;
	}

	.pagination a {
			color: #333;
			float: left;
			padding: 8px 16px;
			text-decoration: none;
			border: 1px solid #ddd;
			margin: 0 4px;
	}

	.pagination a.active {
			background-color: #4CAF50;
			color: white;
			border: 1px solid #4CAF50;
	}

	.pagination a:hover:not(.active) {
			background-color: #ddd;
	}

</style>

<div class="content-wrapper">
	<div class="container">
		<section class="content">
			<div class="row">
				<div class="col-12 text-lg-end mb-10">
					<div class="d-flex justify-content-end align-items-center gap-4">
							<div class="form-check">
								<input class="form-check-input" type="radio" name="status" id="statusAll" value="All" checked>
								<label class="form-check-label" for="statusAll">
									All
								</label>
							</div>
							<div class="form-check">
								<input class="form-check-input" type="radio" name="status" id="statusPending" value="Pending">
								<label class="form-check-label" for="statusPending">
									Pending
								</label>
							</div>
							<div class="form-check">
								<input class="form-check-input" type="radio" name="status" id="statusVerified" value="Verified">
								<label class="form-check-label" for="statusVerified">
									Verified
								</label>
							</div>
						<a href="{% url 'category_create' %}" class="btn btn-primary px-3 py-2">Add Category</a>
					</div>
				</div>

				<div class="col-12">
					<div class="box">
						<div class="box-body">
							<form id="category-form" method="post">
								{% csrf_token %}
								<div class="table-responsive">
									<table id="productorder" class="table table-hover no-wrap product-order"
										data-page-size="10">
										<thead>
											<tr>
												<th class="align-middle">
													<div class="form-check">
														<input type="checkbox" id="AllCategory" class="form-check-input" onclick="selectAllCheckboxes(this)">
														<label for="AllCategory"></label>
													</div>
												</th>
												<th>ID</th>
												<th>Name</th>
												<th>Parent</th>
												<th class="text-center">Status</th>
												<th class="text-center">Commission</th>
												<th class="text-center">Actions</th>
											</tr>
										</thead>
										<tbody>
											{% comment %} {% for c in categories %}
											<tr data-category-id="{{ c.id }}">
												<td>
													<input type="checkbox" id="Category{{ forloop.counter0 }}" class="form-check-input" name="seleted_category" value="{{ c.id }}">
													<label for="Category{{ forloop.counter0 }}"></label>
													</td>
												<td>{{ c.id }}</td>
												<td>{{ c.category_name }}</td>
												<td>
													{% if c.parent %}
													{{ c.parent.category_name }}
													{% else %}
													No Parent
													{% endif %}
												</td>
												<td class="text-center">
													{% if c.is_verified %}
													<button type="button" class="btn btn-sm btn-success">Verified</button>
													{% else %}
													<button type="button" class="btn btn-sm btn-danger">Pending</button>
													{% endif %}
												</td>
												<td class="text-center">{{ c.commission }}%</td>
												<td class="text-center">
													<a href="{% url 'category_update' c.id %}" class="text-info"><i class="ti-marker-alt"></i></a>
													<a href="{% url 'category_delete' c.id %}" class="text-danger ms-5"><i class="ti-trash"></i></a>
												</td>
											</tr>
											{% endfor %} {% endcomment %}
										</tbody>
									</table>
									<div class="d-flex">
										<button type="button" class="btn btn-primary" id="verify-button" style="display: none;" onclick="submitForm('{% url 'selected_category_verify' %}')">Verify Selected Category</button>
										<button type="button" class="btn btn-danger ms-3" id="delete-button" style="display: none;" onclick="submitForm('{% url 'selected_category_delete' %}')">Delete Selected Category</button>
									</div>
								</div>

								<div class="pagination-container">
										<ul class="pagination">
												<!-- Previous Page Button -->
												<li class="page-item disabled" id="previous-page">
														<a class="page-link" href="#">Previous</a>
												</li>

												<!-- Next Page Button -->
												<li class="page-item" id="next-page">
														<a class="page-link" href="#">Next</a>
												</li>
										</ul>
								</div>
							

							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>
{% endblock dashboard %}

{% block script %}
<script src="{% static 'dashboard/js/category.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
	document.addEventListener('DOMContentLoaded', function() {
		var checkboxes = document.getElementsByName('seleted_category');
		var verifyButton = document.getElementById('verify-button');
		var deleteButton = document.getElementById('delete-button');

		function toggleButtonVisibility() {
				var anyChecked = Array.from(checkboxes).some(checkbox => checkbox.checked);
				verifyButton.style.display = deleteButton.style.display = anyChecked ? 'block' : 'none';
		}

		function attachCheckboxListeners() {
				Array.from(checkboxes).forEach(checkbox => {
						checkbox.addEventListener('change', toggleButtonVisibility);
				});
				toggleButtonVisibility();
		}

		window.selectAllCheckboxes = function(source) {
			Array.from(checkboxes).forEach(checkbox => {
				checkbox.checked = source.checked;
			});
			toggleButtonVisibility();
		};

		window.submitForm = function(actionUrl) {
				var form = document.getElementById('category-form');
				form.action = actionUrl;
				form.submit();
		};

		attachCheckboxListeners();
	});
</script>

{% comment %} <script>
	document.addEventListener('DOMContentLoaded', function() {
    function attachCheckboxListeners() {
        var checkboxes = document.getElementsByName('seleted_category');
        checkboxes.forEach(function(checkbox) {
            checkbox.addEventListener('change', toggleButtonVisibility);
        });
        toggleButtonVisibility(); // Call toggleButtonVisibility initially
    }

    function toggleButtonVisibility() {
        var checkboxes = document.getElementsByName('seleted_category');
        var verifyButton = document.getElementById('verify-button');
        var deleteButton = document.getElementById('delete-button');
        var anyChecked = Array.prototype.slice.call(checkboxes).some(function(x) {
					return x.checked;
        });
        verifyButton.style.display = anyChecked ? 'block' : 'none'; // Show verify button if any checkbox is checked
        deleteButton.style.display = anyChecked ? 'block' : 'none'; // Show delete button if any checkbox is checked
    }

    window.selectAllCheckboxes = function(source) {
        var checkboxes = document.getElementsByName('seleted_category');
        for (var i = 0; i < checkboxes.length; i++) {
					checkboxes[i].checked = source.checked;
					console.log(`checkboxes: ${checkboxes.id}`);
        }
        toggleButtonVisibility();
    };

    window.submitForm = function(actionUrl) {
        var form = document.getElementById('category-form');
        form.action = actionUrl;
        form.submit();
    };

    attachCheckboxListeners(); // Attach listeners on initial load
	});
</script> {% endcomment %}

{% comment %} <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        function attachCheckboxListeners() {
            var checkboxes = document.getElementsByName('seleted_category');
            checkboxes.forEach(checkbox => {
                checkbox.addEventListener('change', toggleButtonVisibility);
            });
            toggleButtonVisibility(); // Call toggleButtonVisibility initially
        }

        function toggleButtonVisibility() {
            var checkboxes = document.getElementsByName('seleted_category');
            var verifyButton = document.getElementById('verify-button');
            var deleteButton = document.getElementById('delete-button');
            var anyChecked = Array.prototype.slice.call(checkboxes).some(x => x.checked);
            verifyButton.style.display = anyChecked ? 'block' : 'none'; // Show verify button if any checkbox is checked
            deleteButton.style.display = anyChecked ? 'block' : 'none'; // Show delete button if any checkbox is checked
        }

        window.selectAllCheckboxes = function(source) {
            var checkboxes = document.getElementsByName('seleted_category');
            for (var i = 0; i < checkboxes.length; i++) {
                checkboxes[i].checked = source.checked;
            }
            toggleButtonVisibility();
        };

        window.submitForm = function(actionUrl) {
            var form = document.getElementById('category-form');
            form.action = actionUrl;
            form.submit();
        };

        attachCheckboxListeners(); // Attach listeners on initial load
    });
</script> {% endcomment %}
{% endblock script %}
