{% extends 'dashboard/base.html' %}
{% load crispy_forms_tags %}


{% block dashboard %}
  <div class="content-wrapper">
	  <div class="container-full">
		<section class="content">
			<div class="row">
			  <div class="col-12">
				<div class="box">
				  <div class="box-body">
					<h4 class="page-title">Create Parcel</h4>
					<form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
						<div class="form-body">
							<div class="row">
								<p>Shipping address : {{ order.shipping_address.full_address }}</p>
								<div class="col-md-12">
									<div class="form-group">
                                        {{ form.delivery_area|as_crispy_field }}
                                        {{ form.parcel_weight|as_crispy_field }}
									</div>
								</div>
							</div>
							<div class="form-actions text-end">
                                <button type="submit" class="btn btn-primary"> <i class="fa fa-check"></i> Save</button>
                            </div>
						</div>
					</form>
				  </div>
				</div>
			  </div>		  
		  </div>
		</section>
	  </div>
  </div>
{% endblock dashboard %}


